### Spark Setup

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.3.4/spark-2.3.4-bin-hadoop2.7.tgz
!tar xf spark-2.3.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.4-bin-hadoop2.7"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').appName('test').getOrCreate()

from pyspark import SparkConf
SparkConf().set("spark.executor.memory", "13g")

In [4]:
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql import Window

import pandas as pd
import numpy as np
import zipfile
from google.colab import files

In [3]:
# Run this cell and select the kaggle.json file downloaded from the Kaggle account settings page.
files.upload()
# Install the Kaggle API client/.
!pip install -q kaggle
# The Kaggle API client expects this file to be in ~/.kaggle so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
# Avoid Warnings
!chmod 600 ~/.kaggle/kaggle.json
#  Copy API command from kaggle and paste it to download desired dataset
!kaggle datasets download -d ntnu-testimon/paysim1
# open and extract files 
zip_ref = zipfile.ZipFile('paysim1.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()
# list the files present in zip
!ls files

paysim1.zip: Skipping, found more recently modified local copy (use --force to force download)
PS_20174392719_1491204439457_log.csv

In [17]:
# Read data to spark dataframe
# set inferSchema = True, to get the input schema automatically from data.
df = spark.read.csv('/content/files/PS_20174392719_1491204439457_log.csv', header=True, inferSchema = True)
# columnar storage of data for efficient complex data processing.
# df.repartition(1).write.partitionBy('type').mode("overwrite").parquet("data/df.parquet")
# df = spark.read.option("mergeSchema", "true").parquet("data/df.parquet")

In [18]:
df= df.sort('step')

In [19]:
df = df.withColumnRenamed('nameOrig','Payee_Account')
df = df.withColumnRenamed('nameDest','Beneficiary_Account')
df = df.withColumnRenamed('oldbalanceOrg','Old_Bal_Orig')
df = df.withColumnRenamed('newbalanceOrig','New_Bal_Orig')
df = df.withColumnRenamed('oldbalanceDest','Old_Bal_Dest')
df = df.withColumnRenamed('newbalanceDest','New_Bal_Dest')

In [ ]:
# creating consecutive Trxn_Id
df = df.withColumn('count',F.monotonically_increasing_id() ).withColumn('Trxn_Id',F.row_number().over(Window.orderBy('count')) ).drop('count')

In [23]:
df.show()

+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------+
|step|    type|   amount|Payee_Account|Old_Bal_Orig|New_Bal_Orig|Beneficiary_Account|Old_Bal_Dest|New_Bal_Dest|isFraud|isFlaggedFraud|day_of_month|hour_of_day|day_of_week|week_of_month|Trxn_Id|
+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------+
|   1| PAYMENT|  9839.64|  C1231006815|    170136.0|   160296.36|        M1979787155|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      1|
|   1| PAYMENT|  1864.28|  C1666544295|     21249.0|    19384.72|        M2044282225|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      2|
|   1|TRANSFER|    181.0|  C1305486145|       181.0|         0.0|         C553264065|         0.0|         0.0|      1|             0|           1|          1|        1.0|            1|      3|
|   1|CASH_OUT|    181.0|   C840083671|       181.0|         0.0|          C38997010|     21182.0|         0.0|      1|             0|           1|          1|        1.0|            1|      4|
|   1| PAYMENT| 11668.14|  C2048537720|     41554.0|    29885.86|        M1230701703|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      5|
|   1| PAYMENT|  7817.71|    C90045638|     53860.0|    46042.29|         M573487274|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      6|
|   1| PAYMENT|  7107.77|   C154988899|    183195.0|   176087.23|         M408069119|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      7|
|   1| PAYMENT|  7861.64|  C1912850431|   176087.23|   168225.59|         M633326333|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      8|
|   1| PAYMENT|  4024.36|  C1265012928|      2671.0|         0.0|        M1176932104|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|      9|
|   1|   DEBIT|  5337.77|   C712410124|     41720.0|    36382.23|         C195600860|     41898.0|    40348.79|      0|             0|           1|          1|        1.0|            1|     10|
|   1|   DEBIT|  9644.94|  C1900366749|      4465.0|         0.0|         C997608398|     10845.0|   157982.12|      0|             0|           1|          1|        1.0|            1|     11|
|   1| PAYMENT|  3099.97|   C249177573|     20771.0|    17671.03|        M2096539129|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     12|
|   1| PAYMENT|  2560.74|  C1648232591|      5070.0|     2509.26|         M972865270|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     13|
|   1| PAYMENT| 11633.76|  C1716932897|     10127.0|         0.0|         M801569151|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     14|
|   1| PAYMENT|  4098.78|  C1026483832|    503264.0|   499165.22|        M1635378213|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     15|
|   1|CASH_OUT|229133.94|   C905080434|     15325.0|         0.0|         C476402209|      5083.0|    51513.44|      0|             0|           1|          1|        1.0|            1|     16|
|   1| PAYMENT|  1563.82|   C761750706|       450.0|         0.0|        M1731217984|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     17|
|   1| PAYMENT|  1157.86|  C1237762639|     21156.0|    19998.14|        M1877062907|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     18|
|   1| PAYMENT|   671.64|  C2033524545|     15123.0|    14451.36|         M473053293|         0.0|         0.0|      0|             0|           1|          1|        1.0|            1|     19|
|   1|TRANSFER| 215310.3|  C1670993182|       705.0|         0.0|        C1100439041|     22425.0|         0.0|      0|             0|           1|          1|        1.0|            1|     20|
+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------+
only showing top 20 rows

## Time-based Features

In [25]:
df = df.withColumn('day_of_month', F.when( (F.col('step')%24) !=0, ( ( F.col('step')/24) +1)).otherwise(( F.col('step')/24)).cast(T.IntegerType()))
df = df.withColumn('hour_of_day',F.when((F.col('step')%24)!=0,  (F.col('step')%24)).otherwise(24).cast(T.IntegerType()))
df = df.withColumn('day_of_week',F.when((F.col('day_of_month')%7)!=0,(F.col('day_of_month')%7)).otherwise(7.0))
df = df.withColumn('week_of_month',F.when( (F.col('day_of_month')%7) !=0, ( ( F.col('day_of_month')/7) +1)).otherwise( F.col('day_of_month')/7).cast(T.IntegerType()))

Periodic Mean and Standard Deviation

In [16]:
# not implemented

## Customer Spending Patterns
Number and amount of transactions for the last N hours for an account

In [31]:

df = df.withColumn("Count_PA_12HR", F.count('Trxn_Id').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-12, Window.currentRow)))
df = df.withColumn("Count_PA_24HR", F.count('Trxn_Id').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-24, Window.currentRow)))

In [32]:

df = df.withColumn("Sum_Amount_PA_12HR", F.sum('amount').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-12, Window.currentRow)))
df = df.withColumn("Sum_Amount_PA_24HR", F.sum('amount').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-24, Window.currentRow)))

Number and amount of transactions for the last N hours for a transaction type

In [33]:

df = df.withColumn("Count_Type_12HR", F.count('trxn_Id').over(Window.partitionBy("type").orderBy("step").rangeBetween(-12, Window.currentRow)))
df = df.withColumn("Count_Type_24HR", F.count('trxn_Id').over(Window.partitionBy("type").orderBy("step").rangeBetween(-24, Window.currentRow)))

In [34]:

df = df.withColumn("Max_Amount_Type_12HR", F.max('amount').over(Window.partitionBy("type").orderBy("step").rangeBetween(-12, Window.currentRow)))
df = df.withColumn("Max_Amount_Type_24HR", F.max('amount').over(Window.partitionBy("type").orderBy("step").rangeBetween(-24, Window.currentRow)))

Frequency of the beneficiary account for each payee account with larger transaction amount  in the last N days (increase the risk factor for that transaction)

In [35]:

df = df.withColumn("Count_BA_12HR", F.count('Beneficiary_Account').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-12, Window.currentRow)))
df = df.withColumn("Count_BA_24HR", F.count('Beneficiary_Account').over(Window.partitionBy("Payee_Account").orderBy("step").rangeBetween(-24, Window.currentRow)))

## Frequency-Based Features

 Maximum amount for each account for the last 30 days

In [36]:
df = df.withColumn("max_amt_30_days", F.max('amount').over(Window.partitionBy("Payee_Account").orderBy("day_of_month").rangeBetween(-30, Window.currentRow)))

In [25]:
# df.filter("Payee_Account='C1154436417'").show()

+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+
|step|    type|   amount|Payee_Account|Old_Bal_Orig|New_Bal_Orig|Beneficiary_Account|Old_Bal_Dest|New_Bal_Dest|isFraud|isFlaggedFraud|day_of_month|hour_of_day|day_of_week|week_of_month|Count_PA_12HR|Count_PA_24HR|Sum_Amount_PA_12HR|Sum_Amount_PA_24HR|Count_Type_12HR|Count_Type_24HR|Max_Amount_Type_12HR|Max_Amount_Type_24HR|Count_BA_12HR|Count_BA_24HR|max_amt_30_days|
+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+
|  16|CASH_OUT|396596.79|  C1154436417|         0.0|         0.0|        C1433779445|  7291602.02|  7961295.23|      0|             0|           1|         16|        1.0|            1|            1|            1|         396596.79|         396596.79|         123127|         123671|               1.0E7|               1.0E7|            1|            1|      396596.79|
| 230| PAYMENT| 10750.88|  C1154436417|     99394.0|    88643.12|         M136691814|         0.0|         0.0|      0|             0|          10|         14|        3.0|            2|            1|            1|          10750.88|          10750.88|          52469|         146671|           145501.49|           145501.49|            1|            1|      396596.79|
+----+--------+---------+-------------+------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+

% difference of the transaction amount with the last maximum amount.

In [37]:
df = df.withColumn("diff_with_max", F.col('amount')-F.col('max_amt_30_days'))
df = df.withColumn("perc_diff_with_max", F.when(F.col('diff_with_max')>0,F.col('diff_with_max')/F.col('max_amt_30_days')*100).otherwise(0))

Frequency of the beneficiary account for each payee account  in the last N days (increase the risk factor for that transaction)

In [38]:
df = df.withColumn("Freq_Benef_Acc", F.count('Payee_Account').over(Window.partitionBy("Beneficiary_Account").orderBy("day_of_month").rangeBetween(-30, Window.currentRow)) )

In [16]:
# df.filter("Beneficiary_Account='C1001354766'").show()

+----+--------+---------+-------------+-------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+-------------+------------------+--------------+
|step|    type|   amount|Payee_Account| Old_Bal_Orig|New_Bal_Orig|Beneficiary_Account|Old_Bal_Dest|New_Bal_Dest|isFraud|isFlaggedFraud|day_of_month|hour_of_day|day_of_week|week_of_month|Count_PA_12HR|Count_PA_24HR|Sum_Amount_PA_12HR|Sum_Amount_PA_24HR|Count_Type_12HR|Count_Type_24HR|Max_Amount_Type_12HR|Max_Amount_Type_24HR|Count_BA_12HR|Count_BA_24HR|max_amt_30_days|diff_with_max|perc_diff_with_max|Freq_Benef_Acc|
+----+--------+---------+-------------+-------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+-------------+------------------+--------------+
| 299|CASH_OUT| 81518.85|  C1416873430|      25364.0|         0.0|        C1001354766|    10561.78|    92080.63|      0|             0|          13|         11|        6.0|            2|            1|            1|          81518.85|          81518.85|          31591|         141781|               1.0E7|               1.0E7|            1|            1|       81518.85|          0.0|               0.0|             1|
| 353| CASH_IN|  4581.16|   C390490836|1.544342734E7|1.54480085E7|        C1001354766|    92080.63|    87499.47|      0|             0|          15|         17|        1.0|            3|            1|            1|           4581.16|           4581.16|          55598|          95002|          1573923.99|          1573923.99|            1|            1|        4581.16|          0.0|               0.0|             2|
| 395|CASH_OUT|373974.71|   C686802298|        483.0|         0.0|        C1001354766|    87499.47|   461474.18|      0|             0|          17|         11|        3.0|            3|            1|            1|         373974.71|         373974.71|          27312|         143096|               1.0E7|               1.0E7|            1|            1|      373974.71|          0.0|               0.0|             4|
| 398|CASH_OUT|115616.86|   C942252729|          0.0|         0.0|        C1001354766|   461474.18|   577091.04|      0|             0|          17|         14|        3.0|            3|            1|            1|         115616.86|         115616.86|          58958|         145729|               1.0E7|               1.0E7|            1|            1|      115616.86|          0.0|               0.0|             4|
+----+--------+---------+-------------+-------------+------------+-------------------+------------+------------+-------+--------------+------------+-----------+-----------+-------------+-------------+-------------+------------------+------------------+---------------+---------------+--------------------+--------------------+-------------+-------------+---------------+-------------+------------------+--------------+

Flag large transaction  amount which empties the account balance to zero

In [39]:
THRESHOLD = 200000
df = df.withColumn('Large_Empty',F.when( ((F.col('amount')>THRESHOLD) & (F.col('New_Bal_Orig')==0)) , 1).otherwise(0))

Average amount spent over a week during past month  on the same beneficiary as this transaction

In [18]:
# not implemented yet

Total amount spent on the same day up to this transaction

In [40]:
df = df.withColumn("Amount_Spent_On_Day", F.sum('amount').over(Window.partitionBy("Payee_Account","day_of_week").orderBy("step").rangeBetween(Window.unboundedPreceding, Window.currentRow)))

In [ ]:
df.filter("Payee_Account='C935362246'").show()

Total number of transactions on the same day up to this transaction

In [ ]:
df = df.withColumn("Count_Trxns_On_Day", F.count('Trxn_Id').over(Window.partitionBy("Payee_Account","day_of_week").orderBy("step").rangeBetween(Window.unboundedPreceding, Window.currentRow)))